body{
    text-align: center;
    background-color: rgb(19, 176, 228);
    font-family: Tahoma;
    color: white;
}
.parent{
    display: flex;
    justify-content: center;
}
#backward{
    height: 500px;
    width: 100px;
    align-content: center;
}
#forward{
    height: 500px;
    width: 100px;
    align-content: center;
}
.image img{
    height: 500px;
    width: auto;
    
} 
button{
    height: 100px;
    width: 100px;
    font-size: larger;
    background-color: transparent;
    border: transparent;
    color: transparent;
}
button:hover{
    border: 1px solid white;
    color: white;
}